@{
    ViewData["Title"] = "Mission 3";
}

<!--Author: Miles Leung Section: 4-2-->
<!--Header that lists your preferred name-->
<div class="text-center">
    <h1 class="display-4">Future F1 Formula Driver</h1>

</div>

<!--A picture of yourself doing something you enjoy-->
<div class="text-center">
    <img id="Drive" src="img/initialD.jpg" />

    <!--A paragraph on what you hope to get out of this IS 413 class-->
    <p> I hope I can start an e-commerence shop like Amazon in Asia</p>

    <!--A list of the Top #3 jobs you are most interested in pursuing when you graduate-->
    <h1>Top#3 jobs</h1>

    <ul>
        <li>1: F1 Formula Driver</li>
        <li>2: Data Scientist</li>
        <li>3: Software Enginner</li>
    </ul>
</div>